

body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;

    margin: 0;
    display: flex;

    flex: 1 1 auto;

}

header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0px 62px;


}

.title {
    font-weight: 900;
    font-size: 24px;
  
}

ul {
    display:flex;
    list-style-type: none;
    gap: 16px;

    
}

a:link {
    text-decoration: none;
}

a {
    color:white;
}

.one {
    background-color: #1F2937;
    color: white;

    
    display: flex;
    padding: 62px;
    align-items: center;
    justify-content: center;
   
    gap: 32px;
    padding-top: 80px;

}

.image {
    width: 500px;
    height: 250px;

    justify-content: center;
    display: flex;
    align-items: center;

    background-color: #848c9f;
}

.content {
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    flex-shrink: 0;
    gap: 8px;
}

button#signup {
    width: 75px;
    background-color: #3773F6;
    border-style:none;
    border-radius: 5px;
    padding: 8px;
    width: 125px;

    color: white;
    font-size: 15px;
    font-weight: 800;
}

.header#first {
    line-height: 100%;
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

.text#header {
    font-size: 18px;
    color: #E7E7EB;
}

.two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 148px;

    
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.cardimg {
    
    border: solid #3882F6;
    border-radius: 15px;
    
    width: 200px;
    height: 200px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    text-align: justify;
    text-align-last: center;
    line-height: 1;
    gap: 8px;

    color: #1F2937;
    font-size: 20px;



}


.header#info {
    font-size: 32px;
    font-weight: 800;
    padding: 48px;
    color: #1F2937;
}

.three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px;
    background-color: #E5E7EB;
}

.quote {
    width: 70%;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: 800;
    font-size: 24px;
    font-style:normal;
}

.four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px;

}

.cta {
    width: 65%;
    padding: 42px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color:#3883F6;
    border-radius: 10px;

   
}

.header#cta {
    font-weight: 800;
    font-size: 24px;
    color: white;
}

.text#cta {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: white;
}

button#cta {
     padding: 0 28px;
     border: solid white;
     color: white;
     background-color: #3882F6;
     border-radius: 10px;
     font-weight: 800;
     font-size: 18px;

}

.footer {
    padding: 32px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
}